# Python
__pycache__/
*.py[cod]
*$py.class

# Environement
.env
.venv
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Database
*.sqlite3
*.sqlite3-journal
postgres_data/

# OS
.DS_Store
Thumbs.db
